#header{
    background-color: #32353a;
    display: flex;
    justify-content: center;
}
.headerImg{
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a.active{
    color: blue;
}
nav{
    background-color: #3a497b;
    position: sticky;
    box-shadow: 1px 1px 10px #000;
}
ul{
    list-style-type: none;
    margin: 0;
}
ul li{
    margin-inline: 5px;
}
body{
    background-color: #32353a;
}
.free{
    background-color: #3a497b;
}
.type{
    background-color: #292e33;
    padding-inline: 3px;
    font-size: 12px;
}
.desc{
    font-size: 10px;
    color: #CCC;
}
.loader {
    width: 64px;
    height: 12px;
    background:
      radial-gradient(circle 6px, #FFF 100%, transparent 0),
      radial-gradient(circle 6px, #FFF 100%, transparent 0);
    background-size:12px 12px;
    background-position: left center , right center ;
    background-repeat: no-repeat;
    position: relative;
  }
  .loader:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FF3D00;
    inset:0;
    margin: auto;
    animation: mvX 0.6s, mvY 0.3s;
    animation-timing-function:cubic-bezier(.5,-300,.5, 300);
    animation-iteration-count:infinite;
  }
  
  @keyframes mvX {
      100% { left: 0.85px}
  }
  @keyframes mvY {
      100% { top : 0.5px }
  }
        